/* .lembaga-wrapper {
  height: 180px;
} */
.customize {
  min-height: 300px !important;
  height: auto !important;
}

.image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 30% !important;
  padding-bottom: 10px;
  padding-top: 10px;
}
