.modal-content {
  background-color: rgba(0, 0, 0, 0.1);
}

.snapwidget-widget {
  size: 250px;
}

.image-gallery {
  -moz-box-shadow: 0 5px 10px rgba(4, 118, 61, 0.3);
  -webkit-box-shadow: 0 5px 10px rgba(4, 118, 61, 0.3);
  box-shadow: 0 5px 10px rgba(4, 118, 61, 0.3);
}
