.persyaratan ol li {
  font-size: 1.2rem;
  line-height: 50px;
}
.swiper-slider {
  /* height: 800px !important;
  width: 800px !important; */
  overflow: hidden;
}
@media only screen and (min-width: 1331px) and (max-width: 1650px) {
  .swiper {
    height: 800px !important;
    width: 1000px;
  }
  .swiper-slider span {
    width: 100%;
    height: 100%;
  }
  .swiper-slider span img {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1330px) {
  .swiper {
    height: 600px !important;
    width: 800px;
  }
  .swiper-slider span {
    width: 100%;
    height: 100%;
  }
  .swiper-slider span img {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 873px) {
  .swiper-slider {
    height: 80vh !important;
  }
  .swiper-slider span {
    width: 100%;
    height: 100%;
  }
  .swiper-slider span img {
    /* height: 100%; */
    width: 100%;
  }
}
.swiper-slider span img {
  height: 100%;
  width: 100%;
}
@media (max-width: 576px) {
  .swiper-slider span img {
    width: 100%;
  }
}
