.container .hero-wrapper {
  margin-top: 80px;
}
.hero-thumb {
  background-image: url("../../../assets/img/hero/hero-shape-purple.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-thumb img {
  width: 100%;
}
