.program__item {
  padding: 20px 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #eef0f6;
  background: #fff;
  position: relative;
  transition: all 0.8s ease-in-out;
}

.program__item:hover {
  box-shadow: inset 3px 3px 10px #eef0f6;
  top: -5px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .program__item {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .program__item {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 575px) {
  .program__item {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.program__content .program__title {
  font-size: 18px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .program__icon {
    margin-right: 15px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .program__icon {
    margin-right: 15px;
  }
}
.program__icon img {
  width: 40px;
  height: 40px;
}
.program__title {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 0;
}
