.greating-thumb {
  width: auto;
  height: 600px;
  position: relative;
}
.greating-thumb-main {
  position: absolute;
  bottom: 0;
}
/* .greating-thumb img.main-thumb {
} */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .greating-thumb {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .greating-thumb {
    margin-top: 50px;
    margin-left: 20px;
  }
}
@media (max-width: 575px) {
  .greating-thumb {
    margin-top: 50px;
  }
}
@media (max-width: 575px) {
  .greating-thumb img {
    width: 100%;
  }
}
.greating-thumb img.greating-green {
  position: absolute !important;
  z-index: 1;
  left: -50px;
  top: 400px;
  transform: rotate(10deg);
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .greating-thumb img.greating-green {
    right: -23px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .greating-thumb img.greating-green {
    right: -19px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .greating-thumb img.greating-green {
    right: -19px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .greating-thumb img.greating-green {
    right: 41px;
  }
}
@media (max-width: 575px) {
  .greating-thumb img.greating-green {
    right: 0px;
    width: 100%;
  }
}
.greating-thumb-pink {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.greating-thumb img.greating-pink {
  position: relative;
  z-index: -100;
  bottom: -6px;
  left: 15px;
  animation: leftright 8s ease-in-out infinite alternate-reverse;
}
@keyframes leftright {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -5deg;
  }
  100% {
    rotate: 5deg;
  }
}
@media (max-width: 575px) {
  .greating-thumb img.greating-pink {
    width: 80%;
  }
}
.greating-thumb img.greating-dot {
  position: absolute;
  right: 10%;
  bottom: 6%;
  z-index: 2;
}
@media (max-width: 575px) {
  .greating-thumb img.greating-dot {
    width: inherit;
  }
}
.greating-thumb img.greating-line {
  position: absolute;
  right: 0%;
  top: 28%;
}
@media (max-width: 575px) {
  .greating-thumb img.greating-line {
    width: inherit;
  }
}
.greating__btn .link-btn {
  color: #0e1133;
}
.greating__btn .link-btn:hover {
  color: #2b4eff;
}
@media (max-width: 575px) {
  .greating__content {
    padding-right: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .greating__content p {
    width: 648px;
  }
}
