@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

:root {
  --bg-green: #0cae74;
  --black-color: #0e1133;
}

body {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #6d6e75;
  line-height: 26px;
  background: #f3f4f8;
}

.navbar {
  height: 100px;
}

.navbar .navbar-brand a img {
  width: 65%;
}

@media (max-width: 1024px) {
  .navbar .navbar-brand a img {
    width: 90%;
  }
}

@media (max-width: 835px) {
  .navbar .navbar-brand {
    width: 40% !important;
  }
  .navbar .navbar-brand a img {
    width: 100%;
  }
  .nav-link a {
    font-size: 14px;
  }
  .dropdown a {
    font-size: 14px;
  }
}
@media (max-width: 525px) {
  .navbar .navbar-brand {
    width: 70% !important;
  }
}

.navbar .nav-link {
  color: var(--black-color);
  font-weight: 600;
}

.navbar .nav-link .active {
  color: var(--bg-green) !important;
}

.navbar-nav .active {
  color: var(--bg-green) !important;
}

.navbar .nav-link:hover {
  color: var(--bg-green) !important;
}

.dropdown a {
  color: var(--black-color);
  font-weight: 600;
}

.dropdown a:hover {
  color: var(--bg-green) !important;
}

.dropdown a.show {
  color: var(--bg-green) !important;
}
